body {
    background-color: antiquewhite;
    color:black;
}

.bemutat {
    font-size: 200px;
    text-align: center;
    font-style: italic;
}

.szoveg {
    color:black;
    font-size: 80px;
}

.kep{
    text-align: center;
    width: 100px;
}