.focim{
    font-size: 40px;
    text-align: center;
    font-style: italic;

}
body{
    background-color: antiquewhite;

}
.kep{
    width: 500px;
}

.szoveg2{
    font-size: 20px;
    color: black;
}

.kepek-kozepre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}