body {
    background-color: antiquewhite;
    color:black;
}

.bemutat {
    font-size: 45px;
    text-align: center;
    font-style: italic;
}

.szoveg {
    color:black;
    
}

.kep{
    text-align: center;
    width: 700px;
}