body {
    background-color: antiquewhite;
    color:black;
}

.bemutat {
    font-size: 45px;
    text-align: center;
    font-style: italic;
}

.szoveg {
    color:black;
    
}

.kep{
    width: 700px;
}

.kozepre{
    width: 100%;
    display: flex;
    justify-content: center;
}