body {
    background-color: antiquewhite;
    color:black;
}

.bemutat {
    font-size: 45px;
    text-align: center;
    font-style: italic;
}

.szoveg {
    color:black;
    font-size: 20px;
}

.kep{
    text-align: center;
    width: 30px;
}